@page
@using backend.Models.Piece
@using backend.Models.Job
@using backend.Models.Clientele
@using backend.Models.Project
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Job> jobList = (List<Job>)ViewData["JobList"];
    List<Piece> pieceList = (List<Piece>)ViewData["PieceList"];
    List<Clientele> clienteleList = (List<Clientele>)ViewData["ClienteleList"];
    List<Project> projectList = (List<Project>)ViewData["ProjectList"];

}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Jobs</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Project ID</th>
                        <th>Client ID</th>
                        <th>Input ID</th>
                        <th>Status</th>
                        <th>Date Approved</th>
                        <th>Due Date</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in jobList)
                    {
                        <tr>
                            <td>@job.Jobid</td>
                            <td>@job.Projectid</td>
                            <td>@job.Clientid</td>
                            <td>@job.Inputid</td>
                            <td>@job.Status</td>
                            <td>@job.DateApproved</td>
                            <td>@job.DueDate</td>
                            <td>@job.DateCreated</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Piece</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Piece ID</th>
                        <th>Job ID</th>
                        <th>Client ID</th>
                        <th>Status</th>
                        <th>Batch Name</th>
                        <th>Pages</th>
                        <th>Simplex</th>
                        <th>Sequence</th>
                        <th>Retention Start Day</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var piece in pieceList)
                    {
                        <tr>
                            <td>@piece.Pieceid</td>
                            <td>@piece.Jobid</td>
                            <td>@piece.Clientid</td>
                            <td>@piece.Status</td>
                            <td>@piece.BatchName</td>
                            <td>@piece.Pages</td>
                            <td>@piece.Simplex</td>
                            <td>@piece.Sequence</td>
                            <td>@piece.RetentionStartDay</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Clientele</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Clientid</th>
                        <th>Name</th>
                        <th>RetentionLength</th>
                        <th>Sladuedate</th>
                        <th>Parentid</th>
                        <th>childids</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var clientele in clienteleList)
                    {
                        <tr>
                            <td>@clientele.Clientid</td>
                            <td>@clientele.Name</td>
                            <td>@clientele.RetentionLength</td>
                            <td>@clientele.Sladuedate</td>
                            <td>@clientele.Parentid</td>
                            @foreach (var child in clientele.Childids)
                            {
                                <td>@child</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Project</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Client ID</th>
                        <th>SLA Overide</th>
                        <th>Approval</th>
                        <th>CustomPostage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in projectList)
                    {
                        <tr>
                            <td>@project.Projectid</td>
                            <td>@project.Name</td>
                            <td>@project.Clientid</td>
                            <td>@project.SlaOveride</td>
                            <td>@project.Approval</td>
                            <td>@project.CustomPostage</td>
                        </tr>
                    }

            </table>
        </div>
