@page
@using backend.Models.Piece
@using backend.Models.Job
@using backend.Models.Clientele
@using backend.Models.Project
@using System.Reflection
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Job> jobList = (List<Job>)ViewData["JobList"];
    List<Piece> pieceList = (List<Piece>)ViewData["PieceList"];
    List<Clientele> clienteleList = (List<Clientele>)ViewData["ClienteleList"];
    List<Project> projectList = (List<Project>)ViewData["ProjectList"];

}
<div class="container">

    <head>
        <meta charset="UTF-8">
        <title>Upload PDF</title>
    </head>

    <body>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="pdfFile">Upload PDF:</label>
                <input type="file" id="pdfFile" name="pdfFile" accept="application/pdf" />
            </div>
            <button type="submit">Upload</button>
        </form>

        @if (Model.UploadResult != null)
        {
            <div>
                <p>@Model.UploadResult</p>
            </div>
        }
    </body>
</div>
@* <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Jobs</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (PropertyInfo prop in typeof(Job).GetProperties())
                        {
                            <th>@prop.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in jobList)
                    {
                        <tr>
                            @foreach (PropertyInfo prop in typeof(Job).GetProperties())
                            {
                                <td>@prop.GetValue(job)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Piece</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (PropertyInfo prop in typeof(Piece).GetProperties())
                        {
                            <th>@prop.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var piece in pieceList)
                    {
                        <tr>
                            @foreach (PropertyInfo prop in typeof(Piece).GetProperties())
                            {
                                <td>@prop.GetValue(piece)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Clientele</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (PropertyInfo prop in typeof(Clientele).GetProperties())
                        {
                            <th>@prop.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var clientele in clienteleList)
                    {
                        <tr>
                            @foreach (PropertyInfo prop in typeof(Clientele).GetProperties())
                            {
                                <td>@prop.GetValue(clientele)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">Project</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (PropertyInfo prop in typeof(Project).GetProperties())
                        {
                            <th>@prop.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in projectList)
                    {
                        <tr>
                            @foreach (PropertyInfo prop in typeof(Project).GetProperties())
                            {
                                <td>@prop.GetValue(project)</td>
                            }
                        </tr>
                    }

            </table>
        </div>
    </div>
</div> *@
